@import "pure.css";
@import url("https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css");
@import "odd.css";
@import "prism.css";
@import url("https://cdn.jsdelivr.net/npm/docsearch.js@2/dist/cdn/docsearch.min.css");

/*customizing pure*/

html,
button,
input,
select,
textarea,
.pure-g [class*="pure-u"] {
  /* Set your content font stack here: */
  font-family: -apple-system, ".SFNSText-Regular", "San Francisco", "Roboto", "Segoe UI", "Helvetica Neue",
    "Lucida Grande", sans-serif;
  font-size: 18px;
}

.custom-menu {
  font-size: 17px;
}

.pure-menu-heading {
  position: sticky;
  top: 0;
  display: block;
  width: 325px;
  height: 50px;
  z-index: 999;
  box-sizing: border-box;
  background: #1a252f;
}

.floatingText_body {
  background: bisque;
  padding: 1em 2em;
  border-radius: 0.4em;
}

.floatingText_body h1 {
  font-size: 18px;
}

*|*:link {
  /* color: #1f8dd6;*/
  color: #1f8dd6;
}

span.attribute,
span.att {
  color: #f5844c;
}

.tei_toc h2 {
  display: none;
}

.tei_toc {
  height: calc(100vh - 340px);
  overflow-y: auto;
  overflow-x: hidden;
}

.tei_toc_search {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Keep search visible just below the heading while the menu scrolls. */
#menu .tei_toc_search {
  position: sticky;
  top: 50px;
  z-index: 998;
  background: #1a252f;
}

#menu a {
  padding-left: 5px;
}

.maintitle {
  font-family: Helvetica, "Helvetica Neue", Calibri;
}

.custom-menu {
  margin-left: -325px !important;
  width: 325px !important;
  background: #1a252f !important;
  overflow: visible !important;
}

/* Ensure long TOC sections scroll within the menu. */
#menu.custom-menu {
  overflow: visible !important;
}

/* Scroll the TOC itself so the menu can stay overflow-visible for dropdowns. */
#menu .toc {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
}

@media (min-width: 48em) {
  .custom-menu {
    left: 325px !important;
  }
}

@media (min-width: 48em) {
  .custom-layout {
    padding-left: 325px !important;
  }
}

.custom-menu.active,
.custom-layout.active,
.custom-layout.active .menu-link {
  left: 325px !important;
}

.pure-menu {
  padding-bottom: 0;
}

.pure-menu-item {
  display: block;
  border: none;
  padding: 0.6em 0 0.6em 0.6em;
}

.pure-menu-item a,
.pure-menu-item span,
a.toc {
  color: #999;
  text-decoration: none;
  white-space: wrap;
  display: inline;
}

.pure-g > div {
  box-sizing: border-box;
}

div.tocTree,
div.toc_body div.toc {
  margin-top: 10px;
  display: flex;
  align-items: flex-start;
  width: 100%;
  flex-wrap: wrap;
}

.toc-heading a.toc {
  /*resets the menu item padding*/
  padding: 0 !important;
  padding-right: 12px !important;
}

.toc-heading:hover a.toc {
  color: #1f8dd6 !important;
}

.tocTree > div:first-child,
div.toc_body div.toc > div:first-child {
  order: 0;
  flex: 0 0 1.5em;
}

/* Controls for first-level TOC entries */

#menu .toc_body > .tocTree > .toc-heading-number,
#menu .toc_body > .toc > .toc-heading-number {
  flex-basis: 3em;
}

#menu .toc_body > .tocTree > .toc-heading,
#menu .toc_body > .toc > .toc-heading {
  max-width: calc(100% - 3.5em);
}

/* Controls for second-level TOC entries */

#menu .toc_body > .tocTree > .continuedtoc > .tocTree > .toc-heading-number,
#menu .toc_body > .tocTree > .continuedtoc > .toc > .toc-heading-number {
  flex-basis: 5.25em;
}

#menu .toc_body > .tocTree > .continuedtoc > .tocTree > .toc-heading,
#menu .toc_body > .tocTree > .continuedtoc > .toc > .toc-heading {
  flex-basis: 11em;
}

#menu .toc_body > .tocTree > .continuedtoc > .toc > .toc-showhide {
  flex-basis: 1.5em;
}

/* Controls for third-level TOC entries */

#menu .toc_body > .tocTree > .continuedtoc > .tocTree > .continuedtoc > .toc > .toc-heading-number {
  flex-basis: 8.4em;
}

#menu .toc_body > .tocTree > .continuedtoc > .tocTree > .continuedtoc > .toc > .toc-heading {
  flex-basis: 9.1em;
}

#menu .toc_body > .tocTree > .continuedtoc > .tocTree > .continuedtoc > .toc > .toc-showhide {
  flex-basis: 0;
  padding-right: 0;
}

/* special provisions for TOC entries starting with the 10th  */

/* second level */

#menu .toc_body > div:nth-child(n + 10) > .continuedtoc > .toc > .toc-heading-number,
#menu .toc_body > div:nth-child(n + 10) > .continuedtoc > .tocTree > .toc-heading-number {
  flex-basis: 5.8em;
}

#menu .toc_body > div:nth-child(n + 10) > .continuedtoc > .toc > .toc-heading,
#menu .toc_body > div:nth-child(n + 10) > .continuedtoc > .tocTree > .toc-heading {
  flex-basis: 10.75em;
}

#menu .toc_body > div:nth-child(n + 10) > .continuedtoc > .toc > .toc-showhide,
#menu .toc_body > div:nth-child(n + 10) > .continuedtoc > .tocTree > .toc-showhide {
  flex-basis: 1.5em;
}

/* third level */
#menu .toc_body > div:nth-child(n + 10) > .continuedtoc > .tocTree > .continuedtoc > .toc > .toc-heading-number {
  flex-basis: 9.4em;
}

.toc-heading-number {
  order: 1;
  text-align: right;
  color: #1f8dd6;
  line-height: 1.4;
}

.toc-heading {
  order: 2;
  flex: 1 1 auto;
  text-align: left;
  min-width: 0;
  line-height: 1.4;
}

.toc-showhide {
  order: 3;
  flex: 0 0 1.5em;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  align-self: flex-start;
  height: 1.4em;
  padding-right: 15px;
}

.tocTree > .continuedtoc,
div.toc_body div.toc > .continuedtoc {
  order: 4;
  flex: 0 0 100%;
}

/* keep span spacing between number and heading */
.toc-heading-number span {
  padding-right: 10px;
}

/*other stuff*/

.tocHide,
.continuedtoc {
  display: none;
}

.tocTree.active > .continuedtoc {
  display: block;
}

.plusminus {
  position: relative;
  width: 14px;
  height: 14px;
  /* left: 20px;*/
  background: #1f8dd6;
  transform: rotate(0deg);
  border-radius: 50%;
  cursor: pointer;
  transition: 0.4s cubic-bezier(0.2, 0.6, 0.3, 1.1);
}

.plusminus:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 2px;
  width: 50%;
  background: white;
}

.plusminus:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 2px;
  background: white;
}

.plusminus.clicked {
  transform: rotate(360deg);
  background: #ed6f59;
}

.plusminus.clicked:before {
  width: 0;
}

td.wovenodd-col1 {
  min-height: 1px;
}

/* Handling of example XML code embedded in pages. */
pre.teiCode,
code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
}

/* We want our XML code to look like code. */
.xmlTag,
.xmlAttName,
.xmlAttVal,
.teiCode,
span.val {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

/* We want our XML code text to be bold. */
.xmlTag,
.xmlAttName,
.xmlAttVal {
  font-weight: bold;
}

/* We want syntax highlighting. */
/* I think I stole these colour values from oXygen. Sorry George! */
.xmlTag {
  color: #000099;
}

.xmlAttName {
  color: #f5844c;
}

.xmlAttVal,
span.val,
.valList .odd_label {
  color: #993300;
}

/*images*/

img {
  display: block;
}

img.padded {
  padding: 1em;
}

div.figure {
  position: relative;
  margin-top: 1em;
  margin-bottom: 2em;
  text-align: center;
}

div.tab div.figure {
  margin-bottom: 1em;
}

div.figure img,
div.thumbnail img {
  border-radius: 0.4em;
  border: 1px solid gainsboro;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}

div.caption {
  position: absolute;
  color: slategray;
  font-size: 0.8em !important;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
}

div.figure div.caption {
  bottom: -2em;
}

div.gallery div.caption {
  bottom: -1em;
}

div.gallery {
  position: relative;
  margin-bottom: 2em;
  /* Prevent vertical gaps */
  line-height: 0;
  border-radius: 0.4em;
  text-align: center;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

div.thumbnail {
  float: left;
  width: 100px;
  padding-right: 10px;
}

.gallery img {
  width: 100% !important;
  /*default height; can be overriden in TEI with height attr.*/
  height: 300px !important;
  object-fit: cover;
}

.imgwrapper.top-left img {
  border-top-left-radius: 0.4em;
}

.imgwrapper.top-right img {
  border-top-right-radius: 0.4em;
}

.imgwrapper.bottom-right img {
  border-bottom-right-radius: 0.4em;
}

.imgwrapper.bottom-left img {
  border-bottom-left-radius: 0.4em;
}

/*specification overrides
*/

td.odd_label {
  width: 100px;
}

/*logos*/

.logos {
  padding: 0 !important;
}

.logos .img,
.logos .img-hover {
  width: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.logos .img-hover,
.logos:hover .img {
  display: none;
}

.logos:hover .img-hover {
  display: block;
}

.dlogo .logos img {
  margin-bottom: 1em;
}

/*terms in lists*/

span.term {
  font-weight: bold;
}

/*table headings*/
tr.label {
  color: white;
  background: #1f8dd6;
}

.pure-table {
  width: 100%;
}

.contributors {
  column-count: 2;
}

.h2020 {
  color: #999;
  font-size: 0.7em;
  padding: 0.5em 2em 0.5em 2em;
}

.h2020 p {
  border-top: 1px solid;
  border-bottom: 1px solid;
  padding: 1em 0;
  text-align: center;
}

.pure-menu-list {
  padding-top: 12px;
  background-image: url("../images/dkbl.png");
}

/* Accordion styles for examples */

.tabs {
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
  margin: 1em 0 1em 0;
  padding: 0;
}

.tabs pre[class*="language-"] {
  margin: 0;
}

input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.tab {
  width: 100%;
  color: #fff;
  overflow: hidden;
}

.tab-label {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 0.25em 1em;
  background: #2c3e50;
  font-weight: bold;
  cursor: pointer;
  align-items: center;
  font-size: 0.9em;
  /* Icon */
}

.tab-label:hover {
  background: #1a252f;
}

.tab-label::after {
  content: "\276F";
  width: 1em;

  text-align: center;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.tab-label .pure-img {
  height: 18px;
}

span.label img {
  display: inline-block;
  margin-right: 1em;
}

.tab-content {
  max-height: 0;
  /*padding: 0 1em;*/
  color: #2c3e50;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
  background: #f2faff;
  overflow: hidden;
}

.infopanels .tab-content {
  background: bisque;
}

.infopanels .tab-content div.panelContent {
  padding: 0 1em;
}

.tab-content .figure {
  margin-left: 0.9em;
  margin-right: 0.9em;
}

.tab-close {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}

.tab-close:hover {
  background: #1a252f;
}

.tab.drop {
  border-bottom: 1px solid white;
}

input:checked + .tab-label {
  background: #1f8dd6;
}

input:checked + .tab-label::after {
  transform: rotate(90deg);
}

input:checked ~ .tab-content {
  max-height: 1000vh;
  /*padding: 0 0.5em 0 0;*/
}

.panelContent .code-toolbar {
  margin-bottom: 1em;
}

div.code-toolbar > .toolbar {
  right: 0.6em;
}

div.cit {
  padding-left: 2em;
}

span.italic {
  font-style: italic;
}

span.label {
  font-weight: bold;
}

/* search input width here */
.algo {
  opacity: 1;
  margin-left: 1em;
  z-index: 9999;
  width: 16em;
}

/* Main dropdown wrapper */
.algolia-autocomplete .ds-dropdown-menu {
  width: 500px;
  position: absolute;
  left: 0;
  z-index: 5002;
}

.algolia-autocomplete {
  position: relative;
  z-index: 5001;
}

/* Main category (eg. Getting Started) */
.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  /* hack until i figure out lvls and categories acting weird*/
  font-size: 0;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header .algolia-docsearch-suggestion--highlight {
  color: darkgray;
  border-bottom: 1px solid gainsboro;
  /*text-decoration: none;*/
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header:hover {
  color: #1f8dd6;
}

.algolia-autocomplete .algolia-docsearch-suggestion {
  text-decoration: none;
}

/*dark mode

.algolia-autocomplete .algolia-docsearch-suggestion,
.algolia-autocomplete .ds-dropdown-menu [class^="ds-dataset-"] {
   background: #1a252f;
}*/

/* Category (eg. Downloads) */
.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  color: gray;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column::before {
  background: gainsboro;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content::before {
  background: none;
}

.algolia-autocomplete .ds-dropdown-menu .ds-suggestion.ds-cursor .algolia-docsearch-suggestion.suggestion-layout-simple,
.algolia-autocomplete
  .ds-dropdown-menu
  .ds-suggestion.ds-cursor
  .algolia-docsearch-suggestion:not(.suggestion-layout-simple)
  .algolia-docsearch-suggestion--content {
  background-color: #f2faff;
}

/* Title (eg. Bootstrap CDN) */
.algolia-autocomplete .algolia-docsearch-suggestion--title {
  font-weight: bold;
  /*color: white; darkmode*/
}

.algolia-autocomplete .algolia-docsearch-suggestion--title:hover {
  color: black;
  /*darkmode*/
}

/* Description description (eg. Bootstrap currently works...) */
.algolia-autocomplete .algolia-docsearch-suggestion--text {
  font-size: 0.8rem;
  color: gray;
}

/* Highlighted text */
.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  color: #1f8dd6;
}

input.rounded {
  border: none;
  -moz-border-radius: 14px;
  -webkit-border-radius: 14px;
  border-radius: 14px;
  padding: 4px 7px 4px 14px;
  outline: 0;
  -webkit-appearance: none;
}

/*labels in revision history*/

.button-xsmall {
  padding: 0.1em 0.4em;
  background-color: black;
  color: white;
  border-radius: 0.3em;
  margin-right: 0.3em;
  font-size: medium;
  vertical-align: text-top;
}

blockquote.quote {
  border-left-color: #1f8dd6;
  border-left-width: 4px;
  border-left-style: solid;
  padding-left: 1em;
  margin-left: 20px;
}

.classSpecAttDefs {
  display: inline;
  padding-inline-start: 0px;
}

.classSpecAttDefs li.item {
  display: inline;
  padding-inline-start: 0px;
  color: #f5844c;
}

.classSpecAttDefs li.item:first-child {
  padding-inline-start: 5px;
}

.classSpecAttDefs li.item + li.item::before {
  content: ", ";
  padding-right: 0px;
}

.classSpecItem a.link_ref::after {
  content: ": ";
  text-decoration: none;
  display: inline-block;
}

/* in data types */
div.parent a.link_odd_dataSpec {
  display: block;
}

div.parent ul {
  margin-block-start: 0em;
}

/* Navigation layout in grid-nav: Previous (left), Up (center), Next (right) */
.content {
  display: flex;
  flex-direction: column;
  padding-top: 2em;
}

.content > * {
  order: 3;
}

.content > .grid-nav:first-of-type {
  order: 1;
}

.content > h2:first-child {
  order: 2;
}

.grid-nav {
  display: grid;
  grid-template-columns: max-content max-content 1fr max-content max-content;
  align-items: center;
  column-gap: 0.35em;
  row-gap: 0;
}

.grid-nav span,
.grid-nav a.navigation {
  grid-row: 1;
}

/* Replace nav labels with arrows while keeping text for screen readers */
.grid-nav .upLink,
.grid-nav .previousLink,
.grid-nav .nextLink {
  position: relative;
  display: inline-block;
  width: 1em;
  height: 1em;
  overflow: hidden;
  color: transparent;
  white-space: nowrap;
}

.grid-nav .upLink,
.grid-nav .upLink + a.navigation {
  display: none;
}

.grid-nav .upLink::before,
.grid-nav .previousLink::before,
.grid-nav .nextLink::before {
  position: absolute;
  left: 0;
  top: 0;
  text-indent: 0;
  color: #1f8dd6;
  font-size: 1rem;
  line-height: 1;
}

.grid-nav .upLink::before {
  content: "↑";
}

.grid-nav .previousLink::before {
  content: "←";
}

.grid-nav .nextLink::before {
  content: "→";
}

.grid-nav .previousLink {
  grid-column: 1;
}

.grid-nav .previousLink + a.navigation {
  grid-column: 2;
}

.grid-nav .upLink {
  grid-column: 4;
}

.grid-nav .upLink + a.navigation {
  grid-column: 5;
}

.grid-nav .nextLink {
  grid-column: 5;
}

.grid-nav .nextLink + a.navigation {
  grid-column: 4;
}

.teidiv1[id],
.teidiv2[id] {
  scroll-margin-top: 15px;
}
